
<footer>
    <div class="footer-main">
        <a href="" class="setting">
            <div class="pics iconfont icon-zhuye-copy"></div>
            <div class="intros">首页</div>
        </a>
        <a href="index.php?m=index&f=yue" class="setting">
            <div class="pics iconfont icon-lanqiu"></div>
            <div class="intros">约球</div>
        </a>
        <a href="" class="setting">
            <div class="pics iconfont icon-wenjianjia"></div>
            <div class="intros">消息</div>
        </a>
        <a href="index.php?m=index&f=member" class="setting">
            <div class="pics iconfont icon-yonghuming"></div>
            <div class="intros">我</div>
        </a>
    </div>
</footer>


