<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" >
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/base.css">
    <link rel="stylesheet" href="{CSS_PATH}/iconfont.css">
    <link rel="stylesheet" href="{CSS_PATH}/yhnearby.css">
    <link rel="stylesheet" href="{CSS_PATH}/qzzmain.css">
    <script src="{JS_PATH}/rem.js"></script>
    <script src="{JS_PATH}/jQuery.js"></script>
    <script src="{JS_PATH}/yhadd.js"></script>
    <script>
        $(function() {
            $(".back").click(function () {
                history.go(-1);
            })
        })
    </script>
</head>
<body>
<!--header start-->
<header>
    <div class="header-main">
        <a href="#" class="iconfont icon-fanhui back"></a>
        <div class="header-p">
            <span>附近球友</span>
            <span class="he-span">SOUSU JIEGUOSOUSU</span>
        </div>
        <div class="add">+</div>
    </div>
</header>
<!--header end-->
<!--section start-->
<section>
    <ul>
        {foreach $result as $v}
        <li>
            <div class="self">
                <div class="self-tou"  style=" background: url('{IMG_PATH}/qzzuser1.png') center center;background-size: contain;">
                </div>
            </div>
            <div class="seri">
                <div class="seri-tou">
                    <span class="title">{$v["uname"]}</span>
                    <div class="medal">
                        <img src="{IMG_PATH}/yhxunzhang.png" alt="">
                        <img src="{IMG_PATH}/yhxunzhang.png" alt="">
                        <img src="{IMG_PATH}/yhxunzhang.png" alt="">
                        <img src="{IMG_PATH}/yhxunzhang.png" alt="">
                        <img src="{IMG_PATH}/yhxunzhang.png" alt="">
                    </div>
                    <span class="mintitle">{$v["yname"]}</span>
                    <p class="detail">身高:{$v["height"]}  体重:{$v["weight"]}  位置:{$v["role"]}</p>
                    <div class="attention" mfid={$v["uid"]} uid={$uid} >
                            {if isset($arr)}
                                {if in_array({$v["uid"]},$arr)}
                                   已关注
                              {else if}未关注
                                {/if}
                            {/if}
                    </div>
                </div>
                <div class="seri-hot">
                    <img src="{IMG_PATH}/yh-hot.png" alt="">
                </div>
            </div>
        </li>
        {/foreach}

    </ul>
</section>
<!--section end-->
<!--底部开始-->
{include "bottom.html"}
<!--底部结束-->
</body>
</html>