<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" >
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/iconfont.css">
    <link rel="stylesheet" href="../../static/css/yhnearby.css">
    <script src="../../static/js/rem.js"></script>
</head>
<body>
<!--header start-->
<header>
    <div class="header-main">
        <a href="#" class="iconfont icon-fanhui back"></a>
        <div class="header-p">
            <span>附近球友</span>
            <span class="he-span">SOUSU JIEGUOSOUSU</span>
        </div>
        <div class="add">+</div>
    </div>
</header>
<!--header end-->
<!--section start-->
<section>
    <ul>
        <li>
            <div class="self">
                <div class="self-tou">
                </div>
            </div>
            <div class="seri">
                <div class="seri-tou">
                    <span class="title">李大鹏</span>
                    <div class="medal">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                    </div>
                    <span class="mintitle">LIDAPENGQIUYOU</span>
                    <p class="detail">身高:185  体重:76KG  位置:大前锋</p>
                    <div class="attention">
                        关注
                    </div>
                </div>
                <div class="seri-hot">
                    <img src="../../static/image/yh-hot.png" alt="">
                </div>

            </div>
        </li>
        <li>
            <div class="self">
                <div class="self-tou">
                </div>
            </div>
            <div class="seri">
                <div class="seri-tou">
                    <span class="title">李大鹏</span>
                    <div class="medal">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                    </div>
                    <span class="mintitle">LIDAPENGQIUYOU</span>
                    <p class="detail">身高:185  体重:76KG  位置:大前锋</p>
                    <div class="attention">
                        关注
                    </div>
                </div>
                <div class="seri-hot">
                    <img src="../../static/image/yh-hot.png" alt="">
                </div>

            </div>
        </li>
        <li>
            <div class="self">
                <div class="self-tou">
                </div>
            </div>
            <div class="seri">
                <div class="seri-tou">
                    <span class="title">李大鹏</span>
                    <div class="medal">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                    </div>
                    <span class="mintitle">LIDAPENGQIUYOU</span>
                    <p class="detail">身高:185  体重:76KG  位置:大前锋</p>
                    <div class="attention">
                        关注
                    </div>
                </div>
                <div class="seri-hot">
                    <img src="../../static/image/yh-hot.png" alt="">
                </div>

            </div>
        </li>
        <li>
            <div class="self">
                <div class="self-tou">
                </div>
            </div>
            <div class="seri">
                <div class="seri-tou">
                    <span class="title">李大鹏</span>
                    <div class="medal">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                    </div>
                    <span class="mintitle">LIDAPENGQIUYOU</span>
                    <p class="detail">身高:185  体重:76KG  位置:大前锋</p>
                    <div class="attention">
                        关注
                    </div>
                </div>
                <div class="seri-hot">
                    <img src="../../static/image/yh-hot.png" alt="">
                </div>

            </div>
        </li>
        <li>
            <div class="self">
                <div class="self-tou">
                </div>
            </div>
            <div class="seri">
                <div class="seri-tou">
                    <span class="title">李大鹏</span>
                    <div class="medal">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                        <img src="../../static/image/yhxunzhang.png" alt="">
                    </div>
                    <span class="mintitle">LIDAPENGQIUYOU</span>
                    <p class="detail">身高:185  体重:76KG  位置:大前锋</p>
                    <div class="attention">
                        关注
                    </div>
                </div>
                <div class="seri-hot">
                    <img src="../../static/image/yh-hot.png" alt="">
                </div>

            </div>
        </li>
    </ul>
</section>
<!--section end-->
</body>
</html>