<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/iconfont.css">
    <link rel="stylesheet" href="../../static/css/yhone.css">
    <script src="../../static/js/rem.js"></script>
</head>
<body>
<!--header start-->
<header>
    <div class="header-main">
        <a href="#" class="iconfont icon-fanhui back"></a>
        <div class="header-p">
            <span>··我··</span>
            <span class="he-span">WODE LANQIUHUO</span>
        </div>
    </div>
</header>
<!--header end-->
<!--banner start-->
<div class="banner">
    <a href="#" class="ba-yh">
        <img src="../../static/image/yhbanner.png" alt="">
    </a>
    <a href="#" class="tou" style="background-image: url('../../static/image/yhtou.png');background-position: center;background-size: contain;">
        <div class="img" style="background-image: url('../../static/image/yhgeren2.png');background-position: center;background-size: contain; "></div>
    </a>
    <div class="bedeck">
        <img src="../../static/image/yhdian.png" alt="">
    </div>
</div>
<!--banner end-->
<!--own start-->
<div class="own">
    <div class="detail">
        <p class="top">LANQIUDASHENLUN</p>
        <span class="name">篮球大神周杰伦</span>
        <div class="medal">
            <img src="../../static/image/yhxunzhang.png" alt="">
            <img src="../../static/image/yhxunzhang.png" alt="">
            <img src="../../static/image/yhxunzhang.png" alt="">
            <img src="../../static/image/yhxunzhang.png" alt="">
            <img src="../../static/image/yhxunzhang.png" alt="">
        </div>
        <p class="referral">喜欢篮球又喜欢周杰伦的男子</p>
    </div>
</div>
<!--own end-->
<!--section start-->
<section>
    <div class="section-main">
        <div class="main-one">
            <a href="">
                <img src="../../static/image/yhone.png" alt="">
            </a>
            <a href="">
                <img src="../../static/image/yhown.png" alt="">
            </a>
        </div>
        <ul class="list">
                <li>
                    <div class="self">
                        <div class="self-tou iconfont icon-naozhong">
                        </div>
                    </div>
                    <div class="seri">
                        <div class="seri-tou">
                            <span class="title">个人中心</span>
                            <span class="mintitle">LIDAPENGQIUYOU</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="self">
                        <div class="self-tou iconfont icon-xin">
                        </div>
                    </div>
                    <div class="seri">
                        <div class="seri-tou">
                            <span class="title">我的订单</span>
                            <span class="mintitle">LIDAPENGQIUYOU</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="self">
                        <div class="self-tou">
                        </div>
                    </div>
                    <div class="seri">
                        <div class="seri-tou">
                            <span class="title">意见反馈</span>
                            <span class="mintitle">LIDAPENGQIUYOU</span>
                        </div>
                    </div>
                </li>
            <li>
                <div class="self">
                    <div class="self-tou">
                    </div>
                </div>
                <div class="seri">
                    <div class="seri-tou">
                        <span class="title">关于我们</span>
                        <span class="mintitle">LIDAPENGQIUYOU</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--section end-->
<!--loginout start-->
<footer>
    <div class="loginout">
        <span class="iconfont icon-shouji"></span>
        <a href="">
            退出登录
            <span class="details">TUICHUDENGLU</span>
        </a>
    </div>
</footer>
<!--loginout end-->
</body>
</html>