<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/iconfont.css">
    <link rel="stylesheet" href="../../static/css/yhowns.css">
    <script src="../../static/js/rem.js"></script>
</head>
<body>
<header>
    <div class="header-main">
        <a href="#" class="iconfont icon-fanhui back"></a>
        <div class="header-p">
            <span>个人中心</span>
            <span class="he-span">GERENZHONGXIN</span>
        </div>
    </div>
</header>
<!--header end-->
<!--banner start-->
<div class="banner">
    <div class="heart">
        <img src="../../static/image/yhheart.png" alt="">
    </div>
    <a href="#" class="ba-yh">
        <img src="../../static/image/yhbanner.png" alt="">
    </a>
    <a href="#" class="tou" style="background-image: url('../../static/image/yhtou.png');background-position: center;background-size: contain;">
        <div class="img" style="background-image: url('../../static/image/yhgeren2.png');background-position: center;background-size: contain; "></div>
    </a>
    <div class="bedeck">
        <img src="../../static/image/yhdian.png" alt="">
    </div>
</div>
<!--banner end-->
<!--own start-->
<div class="own">
    <div class="detail">
        <p class="top">LANQIUDASHENLUN</p>
        <span class="name">赤脚大仙</span>
        <div class="medal">
            <img src="../../static/image/yhxunzhang.png" alt="">
            <img src="../../static/image/yhxunzhang.png" alt="">
            <img src="../../static/image/yhxunzhang.png" alt="">
            <img src="../../static/image/yhxunzhang.png" alt="">
            <img src="../../static/image/yhxunzhang.png" alt="">
        </div>
        <p class="referral">喜欢篮球又喜欢周杰伦的男子</p>
    </div>
    <div class="member">
        <div class="own-member ">
            <div class=" iconfont own-left fans">
                &#xe638;
            </div>
            <div class="own-right">
                <p class="r-fans">粉丝</p>
                <span class="line"></span>
                <span class="fans-num">7589</span>
            </div>
        </div>
        <div class="own-member ">
            <div class=" iconfont own-left attention">
                &#xe64a;
            </div>
            <div class="own-right">
                <p class="r-fans">关注</p>
                <span class="line"></span>
                <span class="fans-num">7589</span>
            </div>
        </div>
        <div class="own-member ">
            <div class=" iconfont own-left favour">
                &#xe6ab;
            </div>
            <div class="own-right">
                <p class="r-fans">赞</p>
                <span class="line"></span>
                <span class="fans-num">7589</span>
            </div>
        </div>
    </div>
</div>
<!--own end-->
<!--section start-->
<section>
    <div class="section-main">
        <div class="header">
            <div class="Lin">
                <span class="lines"></span>

                <span class="circle"></span>
                <span class="circle cs"></span>
                <span class="lines"></span>
            </div>
            <p><span>QUANBUDON</span>GTAIDONGTAI</p>
            <p><span>全部</span>动态</p>
        </div>
        <ul class="state">
            <li>
                <div class="sta-left">
                    <div class="tou">
                        <!--<img src="../../static/image/yhgeren1.png" alt="">-->
                    </div>
                    <div class="lin">

                    </div>
                    <div class="iconfont xing">
                        &nbsp&#xe6ab;&nbsp&#xe6ab;&nbsp&#xe6ab;&nbsp&#xe6ab;
                    </div>
                </div>
                <div class="sta-right">
                    <div class="hot">
                        <img src="../../static/image/yhhot.png" alt="">
                    </div>
                    <p class="title">明天就要比赛了，加油</p>
                    <span class="mintitle">MINGTIANJIUYAOBISAILE JIAYOU </span>
                    <div class="xx"></div>
                    <div class="con">
                        择菜单查看源文件就可以通过记事网星期上课心情 真的很不错     拷贝 2
                    </div>
                    <div class="xx"></div>
                    <div class="time">
                        <span class="red"></span>
                        8.00AM-10.00AM
                    </div>
                    <div class="site">
                        <span class="blue"></span>
                        shanxi <span>taiyuan</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="sta-left">
                    <div class="tou">
                        <!--<img src="../../static/image/yhgeren1.png" alt="">-->
                    </div>
                    <div class="lin">

                    </div>
                    <div class="iconfont xing">
                        &nbsp&#xe6ab;&nbsp&#xe6ab;&nbsp&#xe6ab;&nbsp&#xe6ab;
                    </div>
                </div>
                <div class="sta-right">
                    <div class="hot">
                        <img src="../../static/image/yhhot.png" alt="">
                    </div>
                    <p class="title">明天就要比赛了，加油</p>
                    <span class="mintitle">MINGTIANJIUYAOBISAILE JIAYOU </span>
                    <div class="xx"></div>
                    <div class="con">
                        择菜单查看源文件就可以通过记事网星期上课心情 真的很不错     拷贝 2
                    </div>
                    <div class="xx"></div>
                    <div class="time">
                        <span class="red"></span>
                        8.00AM-10.00AM
                    </div>
                    <div class="site">
                        <span class="blue"></span>
                        shanxi <span>taiyuan</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--section end-->
<!--loginout start-->
<footer>
    <div class="loginout">
        <span class="iconfont icon-shouji"></span>
        <a href="">
            聊一聊
            <span class="details">LIAOYILIAO</span>
        </a>
    </div>
</footer>
<!--loginout end-->
</body>
</html>