<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        body,html{
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        ul{
           width: 50%;
            margin: 0 auto;
            text-align: center;
            list-style: none;
            margin-top: 80px;
            font-family: "微软雅黑";
        }
        li{
            overflow: hidden;
        }
        .first li{
            font-size: 18px;
        }
        .last li{
            font-size: 14px;
        }
    </style>
</head>
<body>
    <ul class="first">
        <li><h2>篮球伙管理系统2.0v</h2></li>
        <li><h5>操作环境 php+mysql+ apache</h5></li>

    </ul>
    <ul class="last">
        <li>作者:&nbsp;&nbsp;篮球火</li>
        <li>前端:&nbsp;&nbsp;所有成员</li>
        <li>设计:&nbsp;&nbsp;刘宇佳</li>
        <li>后台:&nbsp;&nbsp;后台人员</li>
    </ul>
</body>
</html>