body {
    font-family: '微软雅黑';
    width: 100%;
    height:100%;
    overflow: hidden;
}

input:focus,textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
}

header img {
    width: 100%;
    height: 100%;
}

.back {
    display: block;
    width: 0.48rem;
    height: 0.48rem;
    font-size: 0.48rem;
    position: absolute;
    left: 0.25rem;
    top: 0.51rem;
    z-index: 999;
    color: #fff;
}

.box {
    width: 100%;
    height: 6.03rem;
    position: absolute;
    left: 0;
    top: 3.78rem;
    padding: 0 0.5rem;
}
#yname-error,#height-error,#weight-error,#declaration-error{
    height: 100%;
    line-height:0.58rem;
    position: absolute;
    font-size: 0.18rem;
    color:#ccc;
    right:0.2rem;
    bottom:-0.6rem;
}
form {
    width: 6.52rem;
    height: 4rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.kuang {
    width: 5.61rem;
    height: 4rem;
    margin: 0 auto;
    margin-top: 0.2rem;
}

.kuang .user {
    width: 100%;
    height: 0.7rem;
    float: left;
    border: 1px solid #bbbbbc;
    border-radius: 0.7rem;
    position: relative;
    margin-bottom: 0.4rem;
}

.kuang .icon {
    width: 0.44rem;
    height: 0.44rem;
    font-size: 0.44rem;
    position: absolute;
    left: 0.1rem;
    bottom: 0.1rem;
}

.kuang .icons {
    color: #ea4242;
}

.kuang .icons1 {
    color: #2ea9ff;
    left: 0;
}

.kuang .icon1 {
    width: 0.44rem;
    height: 0.44rem;
    font-size: 0.35rem;
    color: #a7a7a7;
    position: absolute;
    right: 0;
    bottom: 0.1rem;
    display: none;
}

.kuang .icon2 {
    color: #35c23e;
}

.kuang .user > input,.kuang .user textarea {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    display: block;
    padding-left: 0.8rem;
    line-height: 0.7rem;
    font-size: 0.25rem;
    color: #ccc;
    overflow: hidden;
    border-radius: 0.7rem;
}
textarea:focus{
    background: none;
    overflow: hidden;
}
.kuang .false {
    position: absolute;
    width: 100%;
    height: 0.44rem;
    bottom: 0;
    display: none;
}

.kuang .warn {
    width: 0.44rem;
    height: 0.44rem;
    font-size: 0.35rem;
    color: #ea4242;
    position: absolute;
    right: 1.8rem;
    bottom: -0.4rem;
}

.kuang .false>span {
    font-size: 0.18rem;
    color: #333;
    position: absolute;
    right: 0.2rem;
    bottom: -0.38rem;
}

.kuang .rad {
    width: 100%;
    height: 0.55rem;
    font-size: 0.22rem;
    color: #787777;
    padding: 0.15rem 0;
    float: left;
}

.kuang .rad > input {
    display: block;
    width: 0.22rem;
    height: 0.22rem;
    float: left;
}

.kuang .rad a {
    text-decoration: none;
    color: #787777;
    float: right;
    display: block;
}

.kuang .login {
    width: 100%;
    height: 0.82rem;
    float: left;
    margin-top: 0.1rem;
}

.kuang .login .login-btn {
    width: 3.33rem;
    height: 0.82rem;
    border: 2px solid #787777;
    border-radius: 1rem;
    margin: 0 auto;
    position: relative;
}

.kuang .login .login-btn > input {
    width: 3.16rem;
    height: 0.68rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #787777;
    font-size: 0.31rem;
    color: #fff;
    border: none;
    border-radius: 1rem;
}

.photo {
    width:100%;
    height: 1.63rem;
    position: absolute;
    left:0;
    top: 0;
}

.ph-rect {
    width:100%;
    height:0.6rem;
    padding: 0 2.1rem;
}
.ph-rect .ph-left{
    width: 20%;
    height:100%;
    font-size:0.55rem;
    color:#fff;
    display: block;
    float: left;
    line-height: 0.6rem;
}
.ph-rect .ph-right{
    width:80%;
    height:100%;
    /*font-size:0.18rem;*/
    color:#fff;
    display: block;
    float: right;
}
.ph-rect .ph-right p{
    display: inline-block;
    width: 100%;
    float: left;
}
.ph-rect .ph-right p.up{
    font-size: 0.28rem;
    height:60%;
}
.ph-rect .ph-right p.down{
    font-size: 0.18rem;
    height:40%;
}
.step{
    width: 100%;
    height:0.5rem;
    /*background: red;*/
    margin-top: 0.6em;
    padding-left: 1.9rem;
    padding-top: 0.1rem;
}
.step .passroll{
    width: 0.44rem;
    height: 0.3rem;
    float: left;
}
.step .s-roll{
    width: 0.3rem;
    height:0.3rem;
    border-radius: 50%;
    background:#b2b4b5;
    position: relative;
    float: left;
}
.step .s-roll .sm-roll{
    content: "";
    display: block;
    position: absolute;
    width: 0.2rem;
    height:0.2rem;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    background: #d9dbdc;
    border-radius: 50%;
    z-index: 5;
}
.step .s-roll .sm-roll .sx-roll{
    content: "";
    display: block;
    position: absolute;
    width: 0.1rem;
    height:0.1rem;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    background: #fff;
    border-radius: 50%;
}
.step .s-line{
    width: 1.34rem;
    height:0.02rem;
    float: left;
    background: #a8a8a8;
    margin-top: 0.14rem;
    margin-left: -0.1rem;
    z-index: 1;
}