body{
    font-size: 0.36rem;
    background: #fdfafa;
}
header{
    width: 100%;
    height: 0.88rem;
    background: #ec362d;
    text-align: center;
    font-size: 0.3rem;
    line-height: 0.88rem;
    color:#fff;
    position: fixed;
    top:0;left:0;
    margin:auto;
    z-index: 999;
}
.header-main{
    width: 7.02rem;
    height: 100%;
    margin:0 auto;
    position: relative;
}
.back{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.back.iconfont{
    font-size: 0.48rem;
    color: #fff;
}
.header-p{
    width: 100%;
    height: 0.5rem;
    text-align: center;
    float: left;
    margin-top: 0.16rem;
}
.header-p span{
    display: block;
    line-height: 0.33rem;
}
.header-p .he-span{
    font-size: 0.18rem;
}
.banner{
    width: 100%;
    height: 4.44rem;
    float: left;
    margin-top: 0.88rem;
    position: relative;
}
.banner .heart{
    width: 0.59rem;
    height: 0.59rem;
    position: absolute;
    top:0.5rem;
    right: 0.5rem;
}
.banner .heart img{
    width: 0.59rem;
    height: 0.59rem;
    float: left;
}
.banner .ba-yh{
    display: block;
    width: 100%;
    height: 100%;
}
.banner .ba-yh img{
    width: 100%;
}
.banner .tou{
    width: 1.57rem;
    height: 1.59rem;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    right: 0;
    margin: auto;
    overflow: hidden;
}
.banner .tou .img{
    width: 1.4rem;
    height: 1.4rem;
    float: left;
    border-radius: 50%;
    margin-top: 6%;
    /* margin: 0 auto; */
    margin-left: 5%;
}
.bedeck{
    width: 1.92rem;
    height: 0.72rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -0.5rem;
}
.bedeck img{
    width: 1.92rem;
    height: 0.72rem;
    float: left;
}
.own{
    overflow: hidden;
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}
.own .detail{
    width: 100%;
    height: 1.8rem;
    float: left;
    color: #676666;
    font-family: "San Francisco Display";
}
.own .detail .top{
    text-align: center;
    line-height: 0.5rem;
    white-space: normal;
}
.own .detail .name,.top{
    font-size: 0.3rem;
    font-family: "苹方";
    font-weight: 600;
}
.own .detail .referral{
    font-size: 0.26rem;
}
.own .detail .medal{
    width: 1.4rem;
    height: 0.3rem;
    margin: 0 auto;
}
.own .detail .medal img{
    width: 0.16rem;
    height: 0.25rem;
    float: left;
    margin: 0.02rem;
}
.own .member{
    width: 100%;
    overflow: hidden;
    float: left;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    padding: 0 0.48rem;
    text-align: left;
}
.own .member  .own-member{
    width: 2rem;
    height: 0.9rem;
    color: #545353;
}
.own .member  .own-member .own-left{
    width: 0.6rem;
    height: 0.6rem;
    float: left;
    background: #fff;
    line-height: 0.7rem;
    text-align: center;
    border-radius: 50%;
    margin-top: 0.15rem;

}
.own .member  .own-member .fans.iconfont{
    color: #309afc;
    box-shadow:0.1rem 1.1rem 1.4rem 0.04rem  #309afc;
    font-size: 0.36rem;
}
.attention.iconfont{
    font-size: 0.36rem;
    box-shadow: 0rem 0.2rem 0.6rem 0.01rem #fcb5b5;
    color: #fa0606;
}
.favour.iconfont{
    box-shadow: 0.1rem 1.1rem 1.4rem 0.04rem #f6fb81;
    font-size: 0.36rem;
    color: #f0fe0f;
}
.own .member  .own-member .own-right{
    width: 1rem;
    height: 0.9rem;
    float: left;
    font-size: 0.26rem;
    margin-left: 0.2rem;
}
.line{
    display: block;
    width: 100%;
    height: 0.1rem;
    border-bottom: 1px dashed #545353;
}
.fans-num{
    font-weight: 600;
}
section {
    width: 100%;
    overflow: hidden;
    float: left;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
section .section-main{
    width: 7.02rem;
    margin: 0 auto;
}
section .header{
    width: 100%;
    height: 1rem;
    float: left;
}
section .header .Lin{
    margin: 0 auto;
    width: 0.8rem;
    overflow: hidden;
}
section .header .Lin .lines{
    width: 0.2rem;
    height: 1px;
    background: #6fcc1c;
    float: left;
    margin-top: 0.02rem;
}
section .header .Lin .circle{
    width: 0.06rem;
    height: 0.06rem;
    background: #6fcc1c ;
    float: left;
    border-radius: 50%;
}
section .header .Lin .circle.cs{
    margin-left: 0.22rem;
}
section .header p{
    text-align: center;
    font-size: 0.26rem;
    color: #858585;
}
section .state-left{
    width: 20%;
    float: left;
}
section .header p span{
    font-weight: 600;
}
section .state{
    width: 7.2rem;
    overflow: hidden;
}
section .state li{
    width: 7.2rem;
   height:2.8rem;
    float: left;
    background: #fff;
    box-shadow: 0.2rem 0.3rem 1rem -0.78rem rgba(0,0,0,0.5);
    margin-left: 0.05rem;
    padding:0.1rem;
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;

}
section .sta-left {
    width: 1.5rem;
    height: 2.6rem;
    float: left;
}
section .sta-left .lin{
    width: 0.5rem;
    height: 1px;
    background: #969696;
    margin: 0 auto;
    margin-top: 0.15rem;
    position: relative;
}
section  .lin:before{
    content: "";
    width: 0.03rem;
    height: 0.03rem;
    background: #949494;
    position: absolute;
    right: 0;
    top: -0.01rem;
}
 section   .lin:after{
      content: "";
     width: 0.03rem;
     height: 0.03rem;
     background: #949494;
     position: absolute;
     left:0;
     top:-0.01rem;
 }
section .sta-left .tou{
    width: 0.9rem;
    height: 0.9rem;
    margin: 0 auto;
    margin-top: 0.3rem;
    border-radius: 50%;
    background: url("../image/yhgeren2.png") ;
    background-size:contain ;
    border: 2px solid #fff;
    box-shadow:0rem 0rem 1.1rem 0.02rem rgba(0,0,0,0.2);
}
section .state .sta-left .xing{
    width: 100%;
    margin: 0 auto;
    margin-top: 0.15rem;
}
section .state .sta-left .xing.iconfont{
    color: #ffb629;
}
section .sta-right{
    width: 5.2rem;
    height:2.6rem;
    float: right;
    color: #5e5e5e;
    padding: 0 0.2rem;
    position: relative;
}
section .sta-right .hot{
    position: absolute;
    right: 0.5rem;
    top:-0.15rem;
}
section .sta-right .hot img{
    width: 0.64rem;
    height: 0.71rem;
    float: left;
}
section .sta-right .title{
    margin-top: 0.2rem;
    font-size: 0.24rem;
   font-weight: 600;
    float: left;
    width: 100%;
}
section .sta-right .mintitle{
    width: 100%;
    font-size: 0.14rem;
    float: left;
}
section .sta-right .xx{
    width: 2rem;
    /*height:0.3rem;*/
    border-bottom: 1px dashed #9b9b9b;
    margin: 0.1rem;
    float: left;
}
section .sta-right .con{
    width: 100%;
    float: left;
    line-height: 0.4rem;
    font-size: 0.14rem;
}
section .sta-right .time{
    width: 100%;
    float: left;
    text-align: left;
    font-size: 0.16rem;
    line-height: 0.2rem;
}
section .sta-right .time .red,section .sta-right .site .blue{
    display: inline-block;
    width: 0.2rem;
    height: 0.2rem;
    background: #f91e48;
    float: left;
    border-radius: 50%;
    margin-right: 0.1rem;
}
section .sta-right .time .red{
    background: #f91e48;
}
section .sta-right .site{
    margin-top: 0.1rem;
    line-height: 0.2rem;
    float: left;
    width: 100%;
    font-size: 0.14rem;
    margin-bottom: 0.1rem;
}
section .sta-right .site .blue{
  background: #17b443;
}
footer{
    width: 100%;
    overflow: hidden;
    position: relative;
    bottom: 0.3rem;
    left: 0;

}
footer .loginout{
    width: 6.42rem;
    height: 1rem;
    background: #309afc;
    margin: 0 auto;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    text-align: center;
    color: #fff;
}
footer .loginout .iconfont{
    line-height: 1.1rem;
    font-size: 0.52rem;
    float: left;
    width: 40%;
    text-align: right;
}
footer .loginout .details{
    display: block;
}
footer .loginout a{
    display: inline-block;
    text-align: left;
    color: #fff;
    width: 60%;
    height: 80%;
    font-size: 0.3rem;
    line-height: 0.4rem;
    margin-top: 0.15rem;
    padding-left: 0.1rem;
}
footer .loginout span{
    display: inline-block;
    height: 100%;

}


