body{
    font-size: 0.36rem;
    background: #f0f0f0;
}
header{
    width: 100%;
    height: 0.88rem;
    background: #ec362d;
    text-align: center;
    font-size: 0.3rem;
    line-height: 0.88rem;
    color:#fff;
}
.header-main{
    width: 7.02rem;
    height: 100%;
    margin:0 auto;
    position: relative;
}
.back{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.back.iconfont{
    font-size: 0.48rem;
    color: #fff;
}
.header-p{
    width: 100%;
    height: 0.5rem;
    text-align: center;
    float: left;
    margin-top: 0.16rem;
}
.header-p span{
    display: block;
    line-height: 0.33rem;
}
.header-p .he-span{
    font-size: 0.18rem;
}
section{
    width: 100%;
    float: left;
    margin-top: 0.5rem;
}
section ul{
    width: 7.02rem;
    margin: 0 auto;
    overflow: hidden;
}
section ul li{
    width: 7.02rem;
    height: 1.18rem;
    float: left;
    background: #fff;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    border-top-right-radius:0.1rem;
    border-bottom-right-radius: 0.1rem;
    overflow: hidden;
    margin-bottom: 0.3rem;
    position: relative;
}
section ul li .self{
    width: 0.95rem;
    height: 100%;
    float: left;
    box-shadow: 0rem 0.1rem 2rem 0.1rem rgba(0,0,0,0.1);
}
section ul li .self-tou{
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 0.1rem;
    margin-top: 0.25rem;
    line-height: 0.7rem;
    text-align: center;
}
section ul li .self-tou.iconfont{
    color: #f01414;
    font-size: 0.4rem;
}
section ul li .seri{
    width: 6rem;
    height: 100%;
    float: right;
    font-size: 0.26rem;
    padding-left: 0.3rem;
    color: #7c7c7d;
    position: relative;
    padding-top: 0.1rem;
}
.mui{
    width: 0.9rem;
    height: 0.42rem;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0.5rem;
    margin: auto;
}
.mui-switch {
    width:0.9rem ;
    height:0.45rem;
    position: relative;
    border: 0.02rem solid #dfdfdf;
    background-color: #31333d;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
    float: left;
}
.mui-switch:before {
    content: '';
    width: 0.08rem;
    height: 0.08rem;
    border: 0.1rem solid #fff;
    position: absolute;
    top: 0.05rem;
    left: 0;
    border-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    background-color: #31333d;
    box-shadow: 0 0.02rem 0.06rem rgba(0, 0, 0, 0.4);
}
.mui-switch:checked {
    border-color: #17bb1e;
    box-shadow: #17bb1e 0 0 0 0.32rem inset;
    background-color: #17bb1e;
}
.mui-switch:checked:before {
    left: 0.52rem;
}
section ul li .seri-tou{
    width: 4.5rem;
    height: 100%;
    float: left;
}
section ul li .mintitle{
    width: 100%;
    float: left;
    line-height: 0.7rem;
    font-size: 0.22rem;
}
section ul li .seri .title{
    font-weight: 600;
    color: #464647;
    float: left;
}
section ul li .seri .detail{
    font-weight: 600;
    float: left;
}
footer{
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0.3rem;
    left: 0;

}
footer .loginout{
    width: 6.42rem;
    height: 1rem;
    background: #ec362d;
    margin: 0 auto;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    text-align: center;
    color: #fff;
}
footer .loginout .iconfont{
    line-height: 1.1rem;
    font-size: 0.52rem;
    float: left;
    width: 40%;
    text-align: right;
}
footer .loginout .details{
    display: block;
}
footer .loginout a{
    display: inline-block;
    text-align: left;
    color: #fff;
    width: 60%;
    height: 80%;
    font-size: 0.3rem;
    line-height: 0.4rem;
    margin-top: 0.15rem;
    padding-left: 0.1rem;
}
footer .loginout span{
    display: inline-block;
    height: 100%;

}
