body{
    font-size: 0.36rem;
    background: #fdfafa;
}
header{
    width: 100%;
    height: 0.88rem;
    position: fixed;
    top:0;left:0;
    background: #ec362d;
    text-align: center;
    font-size: 0.3rem;
    line-height: 0.88rem;
    color:#fff;
}
.header-main{
    width: 7.02rem;
    height: 100%;
    margin:0 auto;
    position: relative;
}
.back{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.medal{
    float: left;
    width: 80%;
    padding-left: 0.1rem;
}
.add{
    width: 0.44rem;
    height: 0.44rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    line-height: 0.38rem;
    text-align: center;
    border-radius: 50%;
    color: #ec362d;
    font-size: 0.4rem;
}
.back.iconfont{
    font-size: 0.48rem;
    color: #fff;
}
.header-p{
    width: 100%;
    height: 0.5rem;
    text-align: center;
    float: left;
    margin-top: 0.16rem;
}
.header-p span{
    display: block;
    line-height: 0.33rem;
}
.header-p .he-span{
    font-size: 0.18rem;
}
section{
    width: 100%;
    float: left;
    margin-top: 1.38rem;
    margin-bottom: 1rem;
}
section ul{
    width: 7.02rem;
    margin: 0 auto;
    overflow: hidden;
}
section ul li{
    width: 7.02rem;
    height: 1.18rem;
    float: left;
    background: #fff;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    border-top-right-radius:0.1rem;
    border-bottom-right-radius: 0.1rem;
    overflow: hidden;
    margin-bottom: 0.3rem;
}
section ul li .self{
    width: 0.95rem;
    height: 100%;
    float: left;
    box-shadow: 0rem 0.1rem 2rem 0.1rem rgba(0,0,0,0.1);
}
section ul li .self-tou{
    width: 0.7rem;
    height: 0.7rem;
    border:2px solid #fff769;
    margin-left: 0.1rem;
    margin-top: 0.25rem;
    border-radius: 50%;
}
section ul li .seri{
    width: 6rem;
    height: 100%;
    float: right;
    font-size: 0.24rem;
    padding-left: 0.3rem;
    color: #7c7c7d;
    position: relative;
    padding-top: 0.1rem;
}
section ul li .seri-tou{
    width: 6rem;
    height: 100%;
    float: left;
}
section ul li .mintitle{
    width: 100%;
    float: left;
}
section ul li .seri .title{
    font-weight: 600;
    color: #464647;
    float: left;
}
section ul li .seri .detail{
    font-weight: 600;
    float: left;
}
.medal{
    width:80%;
    height: 0.3rem;
    margin: 0 auto;
}
.medal img{
    width: 0.16rem;
    height: 0.25rem;
    float: left;
    margin: 0.02rem;
}
section ul li .seri .seri-hot{
    width:0.7rem;
    height: 0.55rem;
    position: absolute;
    right: 0;
    top:0;
}
section ul li .seri .seri-hot img{
    width:0.7rem;
    height: 0.55rem;
    float: left;
}
section ul li .seri .attention{
    width: 0.9rem;
    height: 0.35rem;
    background: #f9ab0f;
    float: right;
    margin-right: 0.3rem;
    text-align: center;
    line-height: 0.35rem;
    color: #fff;
    font-size: 0.20rem;
    border-radius: 0.2rem;
}
